################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
*.lock
*.cache
*.json
*.editorconfig
*.suo
*.2
